__pycache__/

.Python
.tox/
.eggs/
.hypothesis/
.idea/

env/
build/
develop-eggs/
dist/
downloads/
instance/
ENV/
eggs/
htmlcov/
lib/
lib64/
parts/
sdist/
var/
venv/

*.egg-info/
*.egg
*.manifest
*.so
*.spec
*.mo
*.pot
*,cover
*$py.class
*.py[cod]

.coverage
.coverage.*
.cache
.env
.installed.cfg
.python-version
.webassets-cache

pip-log.txt
pip-delete-this-directory.txt
nosetests.xml
coverage.xml
